option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "moodFlow.moodFlow.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH" # Upewnij się, że to jest potrzebne; nowsze platformy często radzą sobie bez tego, jeśli Procfile jest używany.
    DJANGO_DEBUG: "False" # Już masz to w konsoli, ale spójność jest dobra
  # Dodaj konfigurację dla plików statycznych, jeśli jeszcze jej nie masz
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles # Lub 'static' jeśli Twój STATIC_ROOT to 'static'

container_commands:
  01_makemigrations:
    command: "source /var/app/venv/*/bin/activate && python moodFlow/manage.py makemigrations myapp --noinput"
    leader_only: true
  02_migrate:
    command: "source /var/app/venv/*/bin/activate && python moodFlow/manage.py migrate --noinput"
    leader_only: true
  03_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python moodFlow/manage.py collectstatic --noinput"
    leader_only: true