{% extends 'base.html' %}

{% block title %}Edytuj zadanie{% endblock %}

{% block content %}
    <h1 class="my-4">Edytuj zadanie</h1>

    <form method="POST" class="card p-4">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        {% if task.updated_at %}
            <p class="mt-3" style="font-size: 12px">Ostatnio zaktualizowano:  {{ task.updated_at }}</p>
            {% else %}
            <p class="mt-3" style="font-size: 12px">To zadanie nie było jeszcze aktualizowane</p>
        {% endif %}


        <button type="submit" class="btn btn-primary mb-1">Zapisz zmiany</button>
        <a href="{% url 'todo_list' %}" class="btn btn-secondary">Anuluj</a>
    </form>
{% endblock %}
