{% extends 'base.html' %}
{% load static %}
{% block title %}life manager - Dziennik aktywności{% endblock %}

{% block content %}
    <h1 class="display-4 text-white mb-3">Dziennik aktywności</h1>

    <!-- adding form task -->
    <form method="POST" class="row g-3">
        {% csrf_token %}

        <div class="col-md-6">
            <label for="{{ form.title.id }}" class="form-label">Tytuł</label>
            {{ form.title }}
            {% if form.title.errors %}
                <div class="invalid-feedback d-block">{{ form.title.errors.0 }}</div>
            {% endif %}
        </div>

        <div class="col-md-6">
                   <label for="task-date" class="form-label">Ustaw przypomnienie</label>
                           <input type="date" class="form-control" id="task-date" name="task_date">
                      </div>



        <div class="col-md-6">
            <label for="id_mood_choice" class="form-label">Nastrój</label>
            {{ form.mood_choice }}
            {% if form.mood_choice.errors %}
                <div class="invalid-feedback d-block">{{ form.mood_choice.errors.0 }}</div>
            {% endif %}
        </div>

        <div class="col-md-6">
            <label for="id_status" class="form-label">Status</label>
            {{ form.status }}
            {% if form.status.errors %}
                <div class="invalid-feedback d-block">{{ form.status.errors.0 }}</div>
            {% endif %}
        </div>

        <div class="mb-3">
            <label for="id_url" class="form-label">Link</label>
            {{ form.url }}
            {% if form.url.errors %}
                <div class="invalid-feedback d-block">{{ form.url.errors.0 }}</div>
            {% endif %}
        </div>

        <div class="col-12">
            <label for="id_comment" class="form-label">Komentarz</label>
            {{ form.comment }}
            {% if form.comment.errors %}
                <div class="invalid-feedback d-block">{{ form.comment.errors.0 }}</div>
            {% endif %}
        </div>

        <div class="col-12 text-end">
            <button id="form" type="submit" class="btn btn-success"><i class="bi bi-plus-circle"></i> Dodaj zadanie</button>
        </div>
    </form>

    <div class="card-header d-flex justify-content-between align-items-center mt-5">
    <h5 class="mt-1">Lista zadań ({{ task_count }}):</h5>
<!--        <h2 class="display-6">Masz {{ task_count }} zadań na swojej liście</h2>-->

    <div class="dropdown">
        <button class="btn btn-sm btn-outline-light dropdown-toggle" type="button" id="filterDropdown" data-bs-toggle="dropdown" aria-expanded="false">
             Filtruj
         </button>
                                                <ul class="dropdown-menu" aria-labelledby="filterDropdown">
                                                    <li><a class="dropdown-item" href="{% url 'todo_list' %}" data-filter="all">Wszystkie</a></li>
                                                    <li><a class="dropdown-item" href="{% url 'todo_list' %}?status=completed" data-filter="completed">Ukończone</a></li>
                                                    <li><a class="dropdown-item" href="{% url 'todo_list' %}?status=in_progress" data-filter="in_progress">W trakcie</a></li>
                                                    <li><a class="dropdown-item" href="{% url 'todo_list' %}?status=pending" data-filter="pending">Zaplanowane</a></li>
                                                </ul>
         </div>
    </div>

    <div class="card-body task-list" style="max-height: 600px; overflow-y: auto;">
        <ul class="list-group">
            {% for task in tasks %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <strong>{{ task.title }}</strong><br>
                        {% if task.comment %}<small><strong>Szczegóły:</strong> {{ task.comment }}</small>{% endif %}<br>

                        <span class=" badge bg-info me-2">Nastrój: {{ task.get_mood_choice_display }}</span><br>
                        <span class="mb-0 badge {% if task.status == 'completed' %}bg-success{% elif task.status == 'pending' %}bg-warning{% else %}bg-secondary{% endif %}">
                                 Status: {{ task.get_status_display }}
                            </span>
                        <br>
                        {% if task.url %}<a href="{{ task.url }}" target="_blank" class="badge bg-primary">Link</a>{% endif %}

                        <p class="mt-2" style="font-size: 12px">Utworzone:  {{ task.created_at }}</p>

                    </div>
                    <div class="d-flex gap-2">
                        <a href="{% url 'edit_task' task.id %}" class="btn btn-outline-primary btn-sm"><i class="bi bi-pencil"></i> Edytuj</a>
                        <form action="{% url 'delete_task' task.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm"><i class="bi bi-x-circle"></i> Usuń</button>
                        </form>
                    </div>
                </li>
            {% empty %}
                <li class="list-group-item text-muted">Brak zadań w tym statusie</li>
            {% endfor %}
        </ul>
    </div>

    <!-- sutbmit enter btn-->
    <script src="{% static 'js/todo.js' %}"></script>
{% endblock %}
