{% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <!-- CSS -->
    <link href="{% static 'css/styles.css' %}" type="text/css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>

    <!-- Navbar - umieszczony na górze i sticky -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <!-- Logo i kategorie po lewej stronie -->
            <a class="navbar-brand" href="#">
                moodFlow
                <br>
                <span class="small">Twoja przestrzeń</span>
            </a>
            <a class="navbar-brand text-center mt-3" href="#">
                <img src="{% static 'img/logo-male-bez-tla.png' %}" alt="Logo" class="logo">
            </a>

            <!-- Przycisk rozwijania nawigacji na mniejszych ekranach -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

<!--            &lt;!&ndash; Menu nawigacyjne &ndash;&gt;-->
<!--            <div class="collapse navbar-collapse" id="navbarNavDropdown">-->
<!--                <ul class="navbar-nav me-auto"> &lt;!&ndash; "me-auto" sprawia, że menu jest wyrównane do lewej &ndash;&gt;-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link active" aria-current="page" href="#">Home</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="#">Podróże</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="#">Świat zewnętrzny</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="#">Praca</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item dropdown">-->
<!--                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"-->
<!--                           data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                            Life manager-->
<!--                        </a>-->
<!--                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">-->
<!--                            <li><a class="dropdown-item" href="#">Dziennik aktywności</a></li>-->
<!--                            <li><a class="dropdown-item" href="#">Finanse</a></li>-->
<!--                            <li><a class="dropdown-item" href="#">Zdrowie</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                </ul>-->

                 <!-- Ikony powiadomień i ustawień po prawej stronie -->
                <ul class="navbar-nav ms-auto"> <!-- "ms-auto" wyrównuje elementy do prawej -->
                    <!-- Notification icon z tooltipem (zmieniono placement na bottom) -->
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Brak aktualnie powiadomień">
                            <i class="bi bi-bell"></i>
                        </a>
                    </li>
                    <!-- Settings icon (zmieniono placement na bottom) -->
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" title="W budowie">
                            <i class="bi bi-gear"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Sidebar po lewej stronie -->
    <div class="d-flex">
        <div class="sidebar bg-dark">
            <nav class="navbar navbar-expand-lg navbar-dark flex-column">

                <!-- Menu -->
                <ul class="navbar-nav w-100">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Podróże</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ouside</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Praca</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Life manager
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Dziennik aktywności</a></li>
                            <li><a class="dropdown-item" href="#">Finanse</a></li>
                            <li><a class="dropdown-item" href="#">Zdrowie</a></li>
                        </ul>
                    </li>


                </ul>
            </nav>
        </div>

    <!-- Main content area -->
    <div class="main-content">
        <div class="gradient-custom-2">
            <div class="container my-4">
                <div class="d-flex justify-content-center">
                    <div class="mask-custom">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JS Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
     <!-- notification and settings JS -->
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>